*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  color: #222;

}

.navbar {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  max-width: 1350px;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 7em;
  text-align: center;
}

.react-icons-area {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2em;
}

/* .about-me-background {
  background-image: url("../img/hamburg.jpg");
} */

.about-me {
  padding-top: 5em;
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.about-me > h2 {
  color: #ea4343;
}

@media screen and (max-width: 640px) {
  .about-me {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.service {
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 5em;

  text-align: center;
  background-color: #fff;
  color: #222;
}

.paper {
  height: 325px;
  max-width: 325px;
  margin-top: 3em;
}

li {
  font-size: 1.5rem;
  list-style-type: none;
  margin:0 20px 20px 0; 
}

@media screen and (max-width:345px) {
  .paper {
    height: 300px;
    max-width: 300px;
  }
}

.paper-topic {
  font-size: 24px;
  font-weight: bold;
  color: #ea4343;
}

.paper-content {
  font-size: 18px;
}

h2 {
  font-size: 27px;
}

.projects {
  text-align: center;
  margin-top: 6em;
}

.carousel {
  font-size: 18px;
}

.contact {
  margin-top: 5em;
}

@media screen and (max-width: 531px) {
  .form {
    max-width: 420px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer {
  background-color: #232629;
  color: white;
  padding:1em;
  margin-top: 5em;
}

.footer-content {
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width:426px) {
  .modal {
    width: 90%;
  }
}

.imprint-icon {
  cursor: pointer;
}

a:visited {
  color: #222;
}

a {
  color: #222;
}

.same {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  }
  
  .body1 { grid-area: 1 / 1 / 2 / 2; text-decoration: underline; cursor: pointer; }
  .body2 { grid-area: 1 / 2 / 2 / 3; text-decoration: underline; cursor: pointer; }

.close-icon {
  cursor: pointer;
}
