/* navbar button */
.link {
  color: #222;
  transition: all 0.3s;
  position: relative;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border: 0px;
  background-color: #fff;
  transition: all 0.3s;
}

@media screen and (min-width:1024px) {
  
.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ea4343;
  border-bottom-color: #ea4343;
  transform: scale(0.1, 1);
}
.link:hover {
  letter-spacing: 1px;
}
.link:hover::before {
  opacity: 1; 
  transform: scale(1, 1);
  background-color: hsl(0, 80%, 59%, 0.1);
}
}
